/* USER VARIABLES SECTION */

:root {
  --accent: #FF5A30;
  --transition: .25s ease-out;
  --divider-gradient: rgba(218, 219, 221, 0);
  --success: #03CEA4;
  --danger: #FF4242;
  --warning: #F89828;
  --info: #5A87FC;
  --text: #424551;
  --white: #fff;
  --gray-900: #1E212C;
  --gray-800: #424551;
  --gray-700: #787A80;
  --gray-600: #9A9CA5;
  --gray-500: #B3B7BC;
  --gray-400: #D7DADD;
  --gray-300: #E5E8ED;
  --gray-200: #F4F5F6;
  --gray-100: #F9F9F9;
  --regular-text: 16px;
  --lineheight: 1.60;
  --second-font: 'Lato', sans-serif;
  --userfont: 'Ubuntu', sans-serif;
  --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}


/* BOOTSTRAP SETTINGS SECTION */


/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: .625rem;
}

.row,
.row>* {
  --bs-gutter-x: 1.25rem;
}


/* GENERAL CSS SETTINGS */

a {
  text-decoration: none;
}

::placeholder {
  color: #666;
}

::selection {
  background-color: var(--accent);
  color: #fff;
}

input,
textarea {
  outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}

input:required:valid,
textarea:required:valid {
  border-color: green;
}

body {
  font-family: var(--userfont);
  font-size: var(--regular-text);
  line-height: var(--lineheight);
  color: var(--text);
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

body.active {
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.padding {
  margin-top: 120px;
}

.head {
  font-size: 46px;
  line-height: 1.3;
  font-weight: bold;
  color: var(--gray-900);
}

.our {
  position: relative;
}

.our::after,
.our::before {
  content: none;
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  opacity: 0.1;
  background-color: var(--warning);
}

.our::before {
  top: 70px;
  right: -200px;
  width: 400px;
  height: 400px;
}

.our::after {
  bottom: -250px;
  left: -150px;
}

.video__head,
.our__head,
.services__head,
.supported__head,
.facts__head,
.news__head {
  text-align: center;
}

.subhead {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 60px;
  color: var(--gray-700);
}

.header {
  padding: 20px 0;
}

.header__burger {
  display: none;
}

.header__burger-btn {
  border: none;
  background-color: transparent;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {}

.header__nav {}

.nav {
  margin-left: 60px;
  font-weight: bold;
  margin-right: auto;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__item {}

.nav__link {
  color: var(--gray-800);
  transition: .25s ease-out;
  padding: 0 20px;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent);
}

.header__soc {
  display: flex;
  column-gap: 36px;
}

.soc {}

.soc__item {
  display: flex;
  align-items: center;
}

.soc__image {}

.soc__text {
  display: flex;
  flex-direction: column;
}

.soc__text span {
  font-size: 14px;
  color: var(--gray-800);
  line-height: 21px;
}

.soc__text a {
  color: var(--gray-900);
}

.header__breadcrumb {
  margin-bottom: 40px;
}

.header__breadcrumb a {
  font-size: 14px;
  margin-bottom: 40px;
  color: var(--gray-600);
}

.header__breadcrumb a.home {
  padding-right: 22px;
  position: relative;
  color: var(--gray-800);
}

.header__breadcrumb a.home::after {
  content: '/';
  position: absolute;
  right: 5px;
  top: -3px;
  color: var(--gray-600);
}

.title {
  font-size: 72px;
  max-width: 577px;
  font-weight: 700;
  color: var(--white);
}

.title>span {
  color: var(--accent);
}

.header__subtitle {
  max-width: 600px;
  font-size: 20px;
  color: var(--white);
  margin-bottom: 60px;
}

.slider {
  position: relative;
}

.slick__item {
  padding: 220px 0 350px 0;
  position: relative;
}

.slide-1,
.slide-2,
.slide-3 {
  background: url(../images/header-slider/bg-image.jpg) no-repeat center center / cover;
}

.slick__item .container {
  z-index: 10;
  position: relative;
}

.slick__item::after {
  content: '';
  background: rgba(30, 33, 44, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.slider__navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 32px;
  right: 32px;
  z-index: 1;
  transform: translateY(-50%);
}

.slick__buttons {
  display: flex;
  column-gap: 24px;
  align-items: center;
}

.slick__btn-accent:hover,
.slick__btn-accent:focus {
  color: #fff;
  transform: scale(1.11);
}

.slick__btn:hover,
.slick__btn:focus {
  color: #fff;
  background-color: var(--accent);
  transform: scale(1.11);
}

.slider__pages {
  position: absolute;
  display: flex;
  list-style: none;
  top: 75%;
  left: 20%;
}

.slider__pages button {
  font-size: 28px;
  color: #fff;
  width: 178px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  padding: 0;
  margin: 0;
  text-align: left;
}

.video__block {
  margin-bottom: 80px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.video__block::after {
  content: '';
  background: rgba(30, 33, 44, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.video__block>img {
  width: 100%;
  transition: var(--transition);
}

.video__block-play {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--accent);
  border: none;
  transform: translate(-50%, -50%);
}

.video__block-play:hover+img {
  transform: scale(1.2);
}

.our__list {
  display: flex;
  justify-content: space-between;
}

.our__item {
  max-width: 285px;
  text-align: center;
}

.our__item img {
  margin-bottom: 24px;
}

.our__item h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.our__item p {
  color: var(--gray-700);
}

.form {
  padding: 48px 60px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  background-color: var(--white);
  position: relative;
  border-radius: 4px;
  top: -145px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 24px;
}

form label {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

form input,
form textarea {
  padding: 11px 15px 12px 16px;
  background-color: #F4F5F7;
  font-size: 14px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  width: 100%;
}

.area {
  flex: 1 1 414px;
}

.form__title {
  text-align: center;
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: bold;
  color: var(--gray-900);
}

label>span {
  margin-bottom: 8px;
}


/* .form__btn {
  font-weight: 700;
  border: none;
  background-color: var(--accent);
  color: #fff;
} */

.padding--big {
  margin-top: 271px;
}

.services {
  background: url(../images/bg-image.jpg);
}

.slick-slide img {
  width: 100%;
  height: 80%;
}

.our__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 280px;
  gap: 30px;
}

.our__grid-item {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: var(--white);
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  transition: background var(--transition);
}

.our__grid-item p {
  margin: 0;
}

.our__grid-item img {
  transition: var(--transition);
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transform-origin: left top;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.our__grid-text {
  position: relative;
  z-index: 100;
}

.our__grid-item svg {
  margin-bottom: 24px;
}

.our__grid-item p {
  font-weight: bold;
  font-size: 20px;
  color: var(--gray-900);
}

.our__grid-item p,
.our__grid-item svg path {
  transition: var(--transition);
}

.our__grid-item:hover p {
  transition: var(--transition);
  color: var(--white);
}

.our__grid-item:hover svg path {
  fill: var(--white);
}

.our__grid-item:hover img {
  transform: scale(1);
  transform-origin: center center;
  opacity: 1;
}

.our__grid-item .our__grid-item svg {
  margin-bottom: 24px;
}

.our-work__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.our-work__buttons,
.reviews__buttons {
  display: flex;
}


/* .our__list {
  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 440px;
  gap: 30px;
} */

.our__list {
  background-color: transparent;
  /* padding: 0 -15px; */
}

.our-work__inner,
.reviews__head,
.news__head {
  margin-bottom: 60px;
}

.our__text {
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 300px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  overflow: hidden;
  transition: var(--transition);
  padding: 17px 0 25px 0;
  background-color: var(--white);
}

.our__text h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
}

.our__text p {
  font-size: 14px;
  margin-bottom: 24px;
}

.our__slide {
  position: relative;
}

.our__slide:hover .our__text {
  transform: translateY(-25%);
}

.our__slide.slick-slide {
  transition: var(--transition);
  border-radius: 4px;
  text-align: center;
  height: 430px;
  margin: 0 15px;
  overflow: hidden;
  margin-bottom: 80px;
}

.our__slide.slick-active {
  box-shadow: 0px 40px 40px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.supported {
  padding-top: 80px;
  height: 934px;
  background-color: var(--gray-200);
}

.supported__inner {
  margin-bottom: 170px;
}

.supported__head {}

.supported__list {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  justify-content: space-between;
}

.supported__item {}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.reviews__person {
  grid-column: 1/7;
}

.reviews__photo {
  width: 495px;
  height: 550px;
  border-radius: 4px;
  overflow: hidden;
  grid-column: 8/-1;
}

.reviews__photo img {
  object-fit: cover;
}

.reviews__item img {
  margin-bottom: 24px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.reviews__text {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 24px;
}

.reviews__data {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.reviews__name {
  font-weight: bold;
  color: var(--gray-900);
  font-size: 16px;
  line-height: 160%;
}

.reviews__position {
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-700);
}

.reviews__buttons {
  position: relative;
  top: -40px;
  justify-content: flex-end;
}

.facts {
  position: relative;
  padding-top: 180px;
}

.facts::before {
  content: '';
  background: url('../images/facts-bg.png') no-repeat left center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.facts>.container {
  position: relative;
  z-index: 10;
}

.facts__head {
  margin-bottom: 60px;
}

.facts__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-bottom: 180px;
}

.facts__item {
  max-width: 148px;
  text-align: center;
}

.facts__item img {
  transition: var(--transition);
}

.facts__item:hover img {
  transform: rotate(360deg) scale(1.2);
}

.facts__item div {
  margin-bottom: 20px;
  position: relative;
}

.facts__item .percent {
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  color: var(--gray-900);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.facts__item p {
  font-size: 14px;
}

.news__grid {
  gap: 30px;
  grid-template-rows: 1fr 1fr;
}

.news__first-side {
  grid-column: 1 / 8;
  grid-row: 1/-1;
}

.news__second-side,
.news__third-side {
  grid-column: 8 / -1;
}

.news__text {
  padding: 25px;
}

.news__text a {
  margin-bottom: 12px;
  display: block;
  color: var(--gray-900);
  transition: var(--transition);
}

.news__text a:hover {
  color: var(--accent);
}

.news__text a:hover img {
  transform: scale(1.2);
}

.news__date {
  display: flex;
  margin-bottom: 16px;
}

.news__date span:not(:last-child) {
  margin-right: 24px;
}

.news__date svg {
  width: 16px;
  height: 16px;
}

.news__date svg path {
  fill: var(--gray-700);
}

.comments {
  display: flex;
  align-items: center;
  gap: 8px;
}

.span-line {
  position: relative;
}

.span-line::after {
  content: '';
  position: absolute;
  right: -13px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: var(--gray-700);
}

.news__first-side,
.news__second-side,
.news__third-side {
  overflow: hidden;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}

.image {
  overflow: hidden;
  width: 100%;
}

.news__first-side img,
.news__second-side img,
.news__third-side img {
  transition: var(--transition);
}

.news__first-side:hover img,
.news__second-side:hover img,
.news__third-side:hover img {
  transform: scale(1.2);
}

.news__second-side .news__text,
.news__third-side .news__text {
  padding-top: 12px;
}

.news__second-side .news__date,
.news__third-side .news__date {
  margin-bottom: 0;
}

.news__title {
  font-weight: bold;
  font-size: 20px;
}

.last-block {
  padding: 80px 0;
  background: url('../images/big-block-bg.jpg') no-repeat center center / cover;
}

.last-block__form {
  background: var(--white);
  padding: 48px 40px;
  grid-column: 8/-1;
}

.last-block__form form {
  flex-direction: column;
  row-gap: 20px;
  align-items: stretch;
}

.form__checked {
  gap: 12px;
}

.form__checked input {
  width: auto;
}

.form__checked label {
  flex-direction: row;
}

#custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  font-size: 14px;
  display: inline-flex;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: flex;
  position: relative;
  top: 5px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--accent);
  border-radius: 4px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: var(--transition);
}

.custom-checkbox:checked+label::before {
  border-color: var(--accent);
  background-color: var(--accent);
  background-image: url("../images/icons/check.svg");
}

.last-block__form button {
  width: 180px;
  margin: 0 auto;
}

.footer {
  background-color: var(--gray-900);
  padding: 80px 0;
}

.footer__head {
  font-weight: bold;
  font-size: 24px;
  color: var(--white);
  margin-bottom: 24px;
}

.footer__left {
  grid-column: 1/6;
}

.footer__left p {
  margin: 0;
  opacity: 0.6;
  color: var(--white);
  margin-bottom: 73px;
}

.footer__cont {
  display: flex;
  align-items: center;
  column-gap: 60px;
  margin-bottom: 24px;
}

.footer__cont ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.footer__cont li {}

.footer__right {
  grid-column: 8/-1;
}

.footer__form form {
  margin-bottom: 14px;
  column-gap: 0px;
  align-items: center;
}

.footer__form label {
  position: relative;
}

.footer__form input {
  z-index: 10;
  padding-top: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--white);
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: none;
}

.footer__form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.footer__right p {
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 50px;
}

.footer__form span {
  position: absolute;
  top: 9.5px;
  left: 17px;
  transition: var(--transition);
}

.footer__form input:focus+span {
  top: -30px;
  left: 0;
}

.footer__list {
  padding: 0;
}

.footer__list h6 {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
}

.footer__item {
  list-style: none;
}

.footer__link {
  color: var(--white);
  opacity: .6;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.footer__links {
  margin-bottom: 60px;
}

.footer__list:nth-child(1) {
  grid-column: 1/5;
}

.footer__list:nth-child(2) {
  grid-column: 5/7;
}

.footer__list:nth-child(3) {
  grid-column: 8/10;
}

.footer__cop {
  color: var(--white);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer__cop p {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin: 0;
}

.footer__up {
  display: flex;
  align-items: flex-end;
  column-gap: 16px;
  font-size: 14px;
  line-height: 150%;
}

.footer__up button svg path {
  transition: var(--transition);
}

.footer__up button:hover svg path {
  fill: var(--accent);
}