/* === DESKTOP FIRST === */


/* xl <= Extra extra large (xxl) */

@media (max-width: 1500px) {
  .slider__navigation {
    display: none;
  }
}

@media (max-width: 1400px) {}


/* lg <= Extra large (xl) */

@media (max-width: 1200px) {
  .news__first-side {
    grid-column: 1 / 7;
  }
  .news__second-side,
  .news__third-side {
    grid-column: 7/-1;
  }
  .reviews__photo {
    width: 400px;
  }
  .our__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px;
  }
  .header__soc {
    column-gap: 20px;
  }
  .nav {
    margin: 0 auto;
  }
  .supported {
    height: 1000px;
  }
}


/* md <= Large (lg) */

@media (max-width: 992px) {
  .last-block__form {
    grid-column: 7 / -1;
  }
  .footer__cont {
    column-gap: 0;
    justify-content: space-between;
  }
  .footer__inner.grid {
    display: block;
  }
  .news {
    position: relative;
    z-index: 1000;
  }
  .news__grid {
    grid-template-rows: 1fr;
  }
  .news__first-side p {
    display: none;
  }
  .news__first-side {
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .news__second-side {
    grid-column: 5/9;
  }
  .news__third-side {
    grid-column: 9/-1;
  }
  .news__second-side,
  .news__third-side {
    grid-row: 1/2;
  }
  .news__first-side img,
  .news__second-side img,
  .news__third-side img {
    width: 100%;
    height: 150px;
  }
  .news__date {
    font-size: 10px;
    flex-direction: column;
  }
  .span-line::after {
    content: none;
  }
  .news__text {
    padding: 10px;
  }
  .news__text a {
    font-size: 18px;
  }
  .reviews__photo {
    width: 350px;
  }
  .supported__list {
    grid-template-columns: repeat(3, 120px);
    row-gap: 30px;
  }
  .our__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 15px;
  }
  .our__list {
    gap: 20px;
  }
  .our__item p {
    font-size: 14px;
  }
  .btn--large {
    padding: 0 25px;
  }
  .slick__item {
    padding: 130px 0;
  }
  .header__title {
    font-size: 52px;
  }
  .header__subtitle {
    font-size: 17px;
  }
  .header__soc {
    display: none;
  }
  .nav {
    margin: 0 0 auto;
  }
}


/* sm <= Medium (md) */

@media (max-width: 768px) {
  .last-block__form {
    grid-column: 1 / -1;
    padding: 50px 20px;
  }
  .news__grid {
    grid-template-rows: 1fr 1fr;
  }
  .news__first-side {
    grid-column: 1/7;
  }
  .news__second-side {
    grid-column: 7/-1;
  }
  .news__third-side {
    grid-row: 2/3;
    grid-column: 1/7;
  }
  .facts__list {
    flex-wrap: wrap;
  }
  .facts__item {
    max-width: 50%;
  }
  .supported {
    height: auto;
  }
  .reviews__person {
    grid-column: 1/-1;
  }
  .reviews__photo {
    display: none;
  }
  .our__slide.slick-slide {
    height: 340px;
  }
  .services__form>form {
    flex-direction: column;
    align-items: initial;
    row-gap: 30px;
  }
  .area {
    flex: 0 0 0;
  }
  .our__list>img {
    display: none;
  }
  .our__item {
    margin: 0 auto;
  }
  .our__list {
    flex-direction: column;
  }
  .head {
    font-size: 38px;
  }
  .video__block-play {
    width: 50px;
    height: 50px;
  }
  .video__block-play img {
    width: 10px;
  }
  .subhead {
    font-size: 15px;
  }
  .header__burger {
    display: block;
  }
  .header {
    position: relative;
  }
  .nav__list {
    position: absolute;
    transition: transform var(--transition);
    z-index: 10;
    background-color: var(--white);
    text-align: center;
    flex-direction: column;
    row-gap: 35px;
    font-size: 35px;
    top: 68px;
    left: -100%;
    width: 100%;
    height: 100vh;
    justify-content: center;
  }
  .nav__list.active {
    left: 0;
  }
  .sub h3 {
    font-size: 25px;
  }
  .sub {
    column-gap: 10px;
  }
}


/* xs <= Small (sm) */

@media (max-width: 576px) {
  .footer__left p {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .footer__list h6 {
    font-size: 14px;
  }
  .footer__link {
    font-size: 12px;
  }
  .footer__cop p {
    font-size: 12px;
  }
  .footer__up span {
    display: none;
  }
  .news__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .news__first-side,
  .news__second-side,
  .news__third-side {
    grid-column: 1/-1;
  }
  .news__second-side {
    grid-row: 2/3;
  }
  .news__third-side {
    grid-row: 3/4;
  }
  .our__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 300px);
  }
  .head {
    font-size: 35px;
  }
  .slick__item {
    padding: 130px 0 80px 0;
  }
  .title {
    font-size: 43px;
  }
  .header__subtitle {
    font-size: 15px;
    max-width: 600px;
  }
  .slick__buttons {
    flex-direction: column;
    row-gap: 30px;
  }
  .sub {
    flex-direction: column;
    row-gap: 20px;
  }
}

@media (max-width: 425px) {
  .footer__list:nth-child(1) {
    grid-column: 1/6;
  }
  .footer__list:nth-child(2) {
    grid-column: 7/-1;
  }
  .footer__list:nth-child(3) {
    grid-column: 1/-1;
  }
  .footer__form button {
    font-size: 12px;
    padding: 0 12px;
  }
  .footer__links {
    margin-bottom: 0;
  }
  .sub h3 {
    font-size: 20px;
  }
  .footer__cop p {
    font-size: 9.5px;
  }
  .our-work__inner {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
  .form {
    padding: 50px 20px;
  }
  .padding--big {
    margin-top: 180px;
  }
  .supported__list {
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 120px);
  }
}

@media (max-width: 375px) {
  .footer__cont {
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
  }
  .our__grid {
    grid-template-rows: repeat(4, 200px);
  }
}